<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h1 class="mb-sm-0 page-title">Exchange Rate</h1>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-10">
                </div>
                <div class="col-2">
                    <button type="button" (click)="addExchangeRate()" class="btn btn-primary">Add Freight Rate</button>
                </div>
            </div>
            <div *ngIf="isShowAddExchange">
                <div class="row mt-2">
                    <div class="col-3">
                        <div class="row g-3 align-items-center">
                            <!-- <div class="col-auto">
                              <label for="projectNumber" class="col-form-label">Country</label>
                            </div> -->
                            <div class="col-auto">
                              <input type="text" id="projectNumber" class="form-control">
                            </div>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="row g-3 align-items-center">
                            <!-- <div class="col-auto">
                              <label for="projectName" class="col-form-label">UNIT PRICE/KG (USD)</label>
                            </div> -->
                            <div class="col-auto">
                              <input type="text" id="projectName" class="form-control">
                            </div>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-success">Save</button>
                            </div>
                            <div class="col-auto">
                                <button type="button" (click)="cancelExchangeRate()" class="btn btn-primary">Cancel</button>
                            </div>
                          </div>
                    </div>
                </div>
            </div>


            <!-- -----------------------------TABLE1--------------------------------- -->
            <table class="table table-striped table-hover mt-2" style="border: solid 1px #000;border-color: #000">
                <thead style="background-color: #71797E;color: white;">
                    <tr>
                      <th scope="col">column1</th>
                      <th scope="col">column2</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>
                        <div class="row mt-2">
                            <div class="col-4">
                                <button type="button" (click)="EditExchangeRate()" class="btn btn-success">Edit</button>
            
                                <button type="button" style="margin-left: 10px;" class="btn btn-primary">Delete</button>
                            </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
              </table>
            <div class="row">
            </div><!--end row-->
        </div>
    </div>
</div>

