<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                        <h1 class="mb-sm-0 page-title">Create Invoice</h1>
                    
                </div>
            </div>
            <!-- -----------------------------TABLE1--------------------------------- -->
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <table class="table table-sm table-bordered mt-2">
                        <tbody>
                          <tr>
                              <th scope="row" width="25%">Invoice Number : </th>
                              <td>
                                    <input type="text" id="projectNumber" class="form-control">
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">MESSRS : </th>
                              <td>
                                <textarea type="text" class="form-control"></textarea>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Tel No : </th>
                              <td>
                                    <input type="text" id="projectNumber" class="form-control">
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">ATTN : </th>
                              <td>
                                  <textarea type="text" class="form-control"></textarea>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Origin : </th>
                              <td>
                                    <input type="text" id="projectNumber" class="form-control">
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Destination : </th>
                              <td>
                                <select class="form-control">
                                    <option value="1">option1</option>
                                    <option value="2">option2</option>
                                    <option value="3">option3</option>
                                </select>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">VIA : </th>
                              <td>
                                <select class="form-control">
                                    <option value="1">option1</option>
                                    <option value="2">option2</option>
                                    <option value="3">option3</option>
                                </select>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Tracking Number : </th>
                              <td>
                                    <a href="javascript:void(0)">Click to enter Tracking Number</a>
                              </td>
                          </tr>
                          <tr>
                              <th scope="row">Remarks : </th>
                              <td>
                                <textarea type="text" class="form-control"></textarea>
                              </td>
                          </tr>
                        </tbody>
                    </table>
                      </div>
                <div class="col-2"></div>
              
            </div>
        </div>
    </div>
</div>
