<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h1 class="mb-sm-0 page-title">Quotation List</h1>
                    </div>
                </div>
            </div>
            <!-- -----------------------------TABLE1--------------------------------- -->
            <table class="table table-striped table-hover mt-2" style="border: solid 1px #000;border-color: #000">
                <thead style="background-color: #71797E;color: white;">
                    <tr>
                      <th scope="col">Quotation Number</th>
                      <th scope="col">Date Created</th>
                      <th scope="col">Validity Date</th>
                      <th scope="col">Originator</th>
                      <th scope="col">Attention To</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Status</th>
                      <th scope="col">Attention To</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                     <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                       </tr>
                       <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                           <td></td>
                         </tr>
                  </tbody>
              </table>
        </div>
    </div>
</div>

