<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                        <h1 class="mb-sm-0 page-title">Create Pricing Quoation Out Of System</h1>
                    
                </div>
            </div>
            <!-- -----------------------------TABLE1--------------------------------- -->
            <div class="row">
                <div class="col-6">
                    
              <div style="background-color: brown;color: white;padding: 10px;">Quotation Header</div>
              <table class="table table-sm table-striped table-hover mt-2">
                  <tbody>
                    <tr>
                        <th scope="row">Country</th>
                        <td>
                              <input type="text" id="projectNumber" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Reference Number</th>
                        <td>
                              <input type="text" id="projectNumber" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Customer</th>
                        <td>
                              <input type="text" id="projectNumber" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>
                            <textarea type="text" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Contact Person</th>
                        <td>
                              <input type="text" id="projectNumber" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Position</th>
                        <td>
                              <input type="text" id="projectNumber" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Subject</th>
                        <td>
                              <input type="text" id="projectNumber" class="form-control">
                        </td>
                    </tr>
                  </tbody>
              </table>
              <div style="background-color: brown;color: white;padding: 10px;">Body of Letter</div>
              <table class="table table-sm table-striped table-hover mt-2">
                  <tbody>
                    <tr>
                        <th scope="row">Body of Letter</th>
                        <td>
                            <textarea type="text" class="form-control"></textarea>
                        </td>
                    </tr>
                  </tbody>
              </table>
              <div style="background-color: brown;color: white;padding: 10px;">Terms and Conditions</div>
              <table class="table table-sm table-striped table-hover mt-2">
                  <tbody>
                    <tr>
                        <th scope="row">Product Origin</th>
                        <td>
                            <input type="text" id="projectNumber" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Minimum Order Quantity</th>
                        <td>
                            <textarea type="text" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Standard Pack Size</th>
                        <td>
                            <textarea type="text" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Packing Surcharge</th>
                        <td>
                            <textarea type="text" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Leadtime</th>
                        <td>
                            <textarea type="text" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Payment Term</th>
                        <td>
                            <textarea type="text" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Price Validity</th>
                        <td>
                            <textarea type="text" class="form-control"></textarea>
                        </td>
                    </tr>
                  </tbody>
              </table>
                </div>
                <div class="col-6">
                    
              <div style="background-color: brown;color: white;padding: 10px;">Bank Details</div>
              <table class="table table-sm table-striped table-hover mt-2">
                  <tbody>
                    <tr>
                        <th scope="row">  <input type="checkbox" id="projectNumber" class="form-control"></th>
                        <td>
                          Include Bank Details
                        </td>
                    </tr>
                  </tbody>
              </table>
                    
              <div style="background-color: brown;color: white;padding: 10px;">Closing Remarks</div>
              <table class="table table-sm table-striped table-hover mt-2">
                  <tbody>
                  
                    <tr>
                        <th scope="row">Additional Message</th>
                        <td>
                            <textarea type="text" class="form-control"></textarea>
                        </td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Complementry Close</th>
                        <td>
                            <input type="text" id="projectNumber" class="form-control">
                        </td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Sales Person</th>
                        <td>
                            <input type="text" id="projectNumber" class="form-control">
                        </td>
                    </tr>
                    
                    <tr>
                        <th scope="row">Position</th>
                        <td>
                            <input type="text" id="projectNumber" class="form-control">
                        </td>
                    </tr>
                  </tbody>
              </table>
              <div style="background-color: brown;color: white;padding: 10px;">Submission Detail</div>
              <table class="table table-sm table-striped table-hover mt-2">
                <tbody>
                  <tr>
                    <th scope="row">Pricing System : </th>
                    <td>
                        
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <input type="radio" id="commercialName" class="form-control">
                            </div>
                            <div class="col-auto">
                              <label for="commercialName" class="col-form-label">One Price</label>
                            </div>
                            <div class="col-auto">
                                <input type="radio" id="commercialName" class="form-control">
                            </div>
                            <div class="col-auto">
                              <label for="commercialName" class="col-form-label">Tier Price</label>
                            </div>
                          </div>
                    </td>
                  </tr>
                  <tr>
                    
                    <th scope="row">INCO Terms : </th>
                    <td>
                      <div class="row g-3 align-items-center">
                          <div class="col-auto">
                              <input type="radio" id="commercialName" class="form-control">
                          </div>
                          <div class="col-auto">
                            <label for="commercialName" class="col-form-label">EXW</label>
                          </div>
                          <div class="col-auto">
                              <input type="radio" id="commercialName" class="form-control">
                          </div>
                          <div class="col-auto">
                            <label for="commercialName" class="col-form-label">CFR</label>
                          </div>
                          <div class="col-auto">
                              <input type="radio" id="commercialName" class="form-control">
                          </div>
                          <div class="col-auto">
                            <label for="commercialName" class="col-form-label">CIF</label>
                          </div>
                          <div class="col-auto">
                              <input type="radio" id="commercialName" class="form-control">
                          </div>
                          <div class="col-auto">
                            <label for="commercialName" class="col-form-label">DAP</label>
                          </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal">Insert Submission</a></div>
                <table class="table table-sm table-striped table-hover mt-2">
                    <thead style="background-color: brown;color: white;">
                        <tr>
                          <th scope="col">Market Name</th>
                          <th scope="col">Market Number</th>
                          <th scope="col">Dosage</th>
                          <th scope="col">EXW Price</th>
                          <th scope="col">CIF Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                  </table>
                  <div class="row">
                    <div class="col-6">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary">Print Quotation Letter</button>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary">Exit</button>
                            </div>
                          </div>
    
                    </div>
    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Quotation Header</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Market Name:</label>
                <input type="text" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Market Number:</label>
                <input type="text" class="form-control"/>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Dosage:</label>
                <input type="text" class="form-control"/>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
